//============================
// GMap Popups
//============================

.node.view-mode-gmap_popup {
  margin: 10px 0 0;
  line-height:1.4;
  font-weight:400;

  .group-left {
    @include grid-column(5);
    @include min(both);
    max-width:115px;

    img{
      margin-top:3px;
      margin-bottom:3px;
      width:100%;
    }
    .vrweb-collection-link {
      width:30px;
      height:30px;
      right:-5px;
      top:-5px;

      .fi-heart,
      .fi-x {
        width:30px;
        height:30px;
        background-size:20px auto;
        background-position:center;
      }
    }
  }
  .group-right{
    @include grid-column(7);
    float:left;
    @include min(right);
    padding-bottom:5px;

    .field-name-node-link{
      a {
        @include gmap-button($color:$black);
      }
    }
  }
  .vrweb-driving-directions {
    @include gmap-button($color:$primary-color);
    //min-height:0px;
    //height:auto;
    //text-transform:none;
  }
  .group-footer {
    clear:both;
    border-top:solid 1px $muted-color;
    padding-top:5px;
    text-align:center;

    .rc-item-pricing {
      .rc-price {
        color:$pricing-color;
        padding-right: 8px;
        font-weight:700;
      }
      .rc-item-price-buy {
        
        button {
          @include gmap-button($color:$pricing-color);

        }
      }
    }
  }
}

// Teasers map search results
.views-page {
  .vrweb-gmaps-wrapper {
    .rc-item-price {
      button {
        border:none;
        background:none;
        color:$tertiary-color;
        text-decoration:underline;
        padding:0.25em;
      }
    }
    .field-name-node-link {
      display: block;
      margin-bottom: 10px;
      a {
//        @include vrweb-button($padding: $button-sml, $color: $tertiary-color);
        @include gmap-button();
      }
    }

    .vrweb-driving-directions {
      display:none;
    }
  }
}


// Full content map on search results
.node-type-vr-listing {
  .vrweb-gmaps-wrapper {

    .field-name-node-link {
      display:none;
    }
  }
}
.node-vr-listing.view-mode-full .gm-style .vrweb-driving-directions{
  @include gmap-button();
}
// Full content map on taxonomy results

.page-taxonomy-term {
  .vrweb-gmaps-wrapper{
    .field-name-node-link {
      a {
        @include gmap-button();
        display: inline-block;
        margin-bottom: 5px;
      }
    }
    .vrweb-driving-directions,
    .rcav-dates,
    .rc-price,
    .rc-item-quote-link
    {
      display: none;
    }

    .rc-item-price {
      button {
        border:none;
        background:none;
        color:$tertiary-color;
        text-decoration:underline;
        padding:0.25em;
      }
    }
  }
}


// VR Details page gmap/proximity map

.node-type-vr-listing {
    .gm-style {
      .rcav-dates,
      .rc-price
      {
        display: none;
      }
      .rc-item-quote-link {
        display: none!important;
      }

      button {
        border:none;
        background:none;
        color:$tertiary-color;
        text-decoration:underline;
        padding:0.25em;
      }
    }
}
