#views-exposed-form-vacation-rental-listings-page-quick-search {
  @include clearfix;

  #edit-avail-filter-wrapper,
  .views-submit-button {
    @include grid-column(12);
    @include min(both);
  }

  .views-submit-button {
    button {
      margin-bottom:0px;
      @include vrweb-button($display:block, $color:$tertiary-color);
    }
  }

  #edit-avail-filter-wrapper {
    .views-widget > .form-item {
      @include grid-column(6);
      padding:0px 8px 15px;
      
      @media #{$small-down} {
        &.form-item-avail-filter-rcav-begin,
        &.form-item-avail-filter-rcav-adult{
          @include min(left);
        }
        &.form-item-avail-filter-rcav-end,
        &.form-item-avail-filter-rcav-child{
          @include min(right);
        }
      }
    }
  }

  // Featured Tabs -- Hompage Quick Search
  .featured-tabs & {
    .rc-avail-embed-msg {
      padding:0;
    }
    @media #{$small} {
      .views-submit-button {
        @include grid-column(2.4);
        @include min(both);
        padding-top:22px;
      }

      #edit-avail-filter-wrapper {
        @include grid-column(9.6);
        @include min(both);

        .views-widget > .form-item {
          @include grid-column(3);
          @include min(left);
          padding-bottom:0px;
        }
      }
    }//$small
  }

  // Adjust styles if Adults and Children are hidden
  @if $hide-adults-children-on-quick-search == true {
    #edit-avail-filter-wrapper {
      .views-widget > .form-item{

        &.form-item-avail-filter-rcav-adult,
        &.form-item-avail-filter-rcav-child{
          display:none;
        }
      }
    }
    .featured-tabs & {
      @media #{$small} {
        #edit-avail-filter-wrapper {
          @include grid-column(8);
          @include min(both);

          .views-widget > .form-item {
            @include grid-column(6);
            @include min(left);
          }
        }
        .views-submit-button{
          @include grid-column(4);
          @include min(both);
        }
      }
    }
  }// end @if 

  // Basic Pages Quick Search
  aside.sidebar-second & {
    padding-bottom:20px;

    .form-item {
      margin-bottom:0px;

      label {
        margin-top:0px !important;
      }
    }
  }
}