//============================
// Social Icons - Footer
//============================

.vrweb-social{
  margin:0;
  display:inline-block;

  > li {
    margin-left: 0;
    margin-right: 1.375em;

    @media #{$tiny-down}{
      margin-right:8px;
      margin-bottom:8px;
    }
  }

  @media #{$tiny-down}{
    li.first{
      margin-left:0px;
    }
  }
}

.twitter,
.facebook,
.google-plus,
.linkedin,
.youtube,
.instagram,
.pinterest {

  a {
    font: 0/0 sans-serif;
    transition: color 300ms ease-in-out;

    &:hover:before {
      color: #fff;
      text-decoration: none;
      transition: color 300ms ease-in-out;
    }

    &:before {
      @include icon(social-icons);
      border-radius: 2px;
      font-size: 30px;
      padding: 4px;
      color: $white;
      background: $tertiary-color;
    }
  }
}

// Icons
a:before {

  .twitter & {
    content: "\e604";
  }

  .facebook & {
    content: "\e605";
  }

  .youtube & {
    content: "\f167";
  }

  .linkedin & {
    content: "\e609";
  }

  .google-plus & {
    content: "\e606";
  }

  .pinterest & {
    content: "\e607";
  }

  .instagram & {
    content: "\e60f";
  }
}

// Icon colors
a:hover:before {

  .twitter & {
    background: #4099ff;
  }

  .facebook & {
    background: #3b5998;
  }

  .youtube & {
    background: #bb0000;
  }

  .linkedin & {
    background: #007bb6;
  }

  .google-plus & {
    background: #dd4b39;
  }

  .pinterest & {
    background:  #cb2027;
  }

  .instagram & {
    background: #517fa4;
  }
}


