.field-name-field-page-snippet-title {
	font-family:$head-gf;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:.1em;
	border-top:solid 1px $primary-color;
	border-bottom:solid 1px $tertiary-color;
	text-align:center;
	padding:10px;
	margin-bottom:15px;
}
.field-name-field-page-snippet-content {
	padding-bottom:20px;

	ul {
		margin-left:0px;
		margin-right:0px;

		li {
			@media #{$medium-down} {
				@include grid-column(6);
				@include grid-clear(2, 10px);
			}
			@media #{$medium} {
				@include grid-column(4);
				@include grid-clear(3, 10px);
			}

			img {
				display:block;
				width:100%;
				height:auto;
			}

			.node-snippet {
				@include box-shadow();
				border:solid 1px $muted-color;

				.group-content {
					@include clearfix();
					padding-bottom:10px;
					background:$muted-color;
				}
			}
			.field-name-field-snippet-image {
				background:$white;
				position:relative;

				@include border-arrow(
					$location:bottom,
					$direction:up,
					$color:$muted-color, 
					$width:15px
				);

				&:before {
					bottom:0px;
					right:auto;
					left:25px;
				}
			}
			.field-name-title {
				h3 {
					margin:0;
					padding-top:10px;
					padding-bottom:3px;
					font-size:18px;
				}
			}
			.field-name-title,
			.field-name-field-snippet-text {
				@include grid-column(12);
				padding-left:10px;
				padding-right:10px;
			}

			.field-name-field-snippet-text {
				&, a {
					color:$black !important;
					text-decoration:none !important;
				}
			}
		}
	}
}