@import "vrweb_settings";
@import "base/mixins";
@import "fonts/default";
@import "components/typography";

/* ===================================================================== DEFAULTS */
/* the default print styles from H5BP
 * https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css */

* {
  background: transparent !important;
  color: #000 !important; /* Black prints faster: h5bp.com/s */
  box-shadow: none !important;
  text-shadow: none !important;
}

a,
a:visited {
  text-decoration: none;
}

//a[href]:after {
//  content: " (" attr(href) ")";
//}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
 * Don't show links for images, or javascript/internal links
 */

.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

thead {
  display: table-header-group; /* h5bp.com/t */
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

@page {
  margin: 0.25cm;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

/* ===================================================================== USER STYLES */

body {
  margin: 2em;
  font-family: $body-gf;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h3, h5, h6 {
  font-family: $head-gf;
}

.print-hr {
  border-color: #e2e2e2;
}

.posted {
  display: none;
}

.print-content {
  margin: 1em 0;

  .field-name-field-location {
    .field-label {
      @extend h3;
      font-weight: bold;
    }
    .location,
    .location div,
    .location-hidden {
      display: inline-block;
    }

    .location.map-link,
    .geo,
    .country-name {
      display: none;
    }
  }

  .rc-core-images {
    @extend %clearfix;
    margin: 20px 0;
    img {
      max-width: 300px;
    }
  }

  .rc-lodging-detail {
    font-size: 18px;
    padding: 5px 0;
    font-weight: bold;
  }

  .rc-core-cat-ldrc_amenity {
    margin-top: 1em;
  }

  table.rc-item-prices {
    border-collapse: collapse;
    width: 400px;
    line-height: 1;
    border: 1px solid lighten($muted-color, 30%);
    thead {
      background: $muted-color;
      th {
        text-align: center;
      }
    }
    .rc-price-col {
      text-align: center;
    }
    tr.even {
      background: lighten($muted-color, 30%);
    }
    td {
      padding: 6px;
    }
  }
}

.print-breadcrumb {
  margin: 1em 0;
}

.print-site_name {
  margin: 1em 0 0;
}
