//=============================================
//    HEADER & SERVICE BAR 
//    Style and Variables
//=============================================

//service bar text color
//$service-bar-color: $white;

//Also sets service bar button colors if you are using the full-width slideshow template
//$service-bar-bg: $tertiary-color; 

//=============================================
//
//  Header & Service Bar styles.
//-----------------------------------------------------------------//

.l-header {
  background:$muted-color;
  padding:0px;
  @include box-shadow;
  width:100%;
  left:0px;
  right:0px;
  transition:none !important;
  
  .show-search & {
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
  }

  @media #{$medium-down} {
    max-width:none;
    padding:0;
  }
  //================================================
  //  Display topbar as inline with logo
  //  for $topbar-display-fullwidth:false;
  //  Dont touch these unless you have a good reason
  //================================================
  @if $topbar-display-fullwidth == false {
    .header-content {
      @include grid-row;
    }
    .nav-contain {
      @media #{$medium}{
        @include grid-column(8);
        float:right;
        clear:right;
        padding-top:17px;
      }
    }
    .l-logo-header {
      padding-bottom:0px;
    }
  }
  //================================================
  //  Display topbar as fulwidth below logo
  //  for $topbar-display-fullwidth:true;
  //  Dont touch these unless you have a good reason
  //================================================
  @if $topbar-display-fullwidth == true {
    padding-bottom:0px;
    @include collapse(both);

    .header-top-content {
      display:block;
      @include grid-row;
      padding:0px 15px 10px;

      @media #{$medium-down} {
        padding:0px;
      }
    }

    .nav-wrapper {
      display:block;
      width:100%;
      background:$topbar-bg;

      @media #{$medium} {
        text-align:center;
      }

      .nav-contain {
        @include grid-row;
      }
    }
  }
  
  .header-right {
    @media #{$medium} {
      padding-top:15px;
    }
  }
  
  .l-logo-header {
    padding-top:25px;
    @include min(right);
  }
  .logo {
    float:none;
    position:relative;
  }
  .mobile-logo {
    display:block;
    width:160px;
    height:$topbar-touch-height;
    background:url("../logo.png") right center no-repeat;
    background-size:auto 50px;

    @media only screen and (min-width:emCalc(400)) {
      width:200px;
      background-size:auto 60px;
    }
  }
}

/*          SERVICE BAR
----------------------------------*/
.l-service-bar {
  background:$service-bar-bg;

  @media #{$medium} {
    display:inline-block !important;
    float:right;

    .checkout-page & {
      padding-top:10px;
    }
  }
  .header-right &{
    background:$transparent;
  }
  
  ul.inline-list {
    margin-bottom: 0;

    li:not(.bt_toggle_font_bt_toggle_font_basic) {
      margin-left:0;

      a {
      
        .large-text & {
          max-height:40px;
          font-size: 15px;
        }

        &.phone{
          background:$transparent !important;
          color:$service-bar-bg;
          font-weight:700;
          font-size:20px;
          margin-right:20px;
          padding-top:5px;
        }

        &.favorites,
        &.vrfusion-newsletter-form-link {
          @include vrweb-button($color:$service-bar-bg);
          color:$service-bar-color;
          max-height:$form-component-height;
        }
      }//a
      span.service-label {
        @include service-label();
      }
    }
    li.bt_toggle_font_bt_toggle_font_basic {
      margin-left:8px;
    }
  }
}
