// Layout for Map Search
#views-exposed-form-vacation-rental-listings-page-map {

  #edit-avail-filter-wrapper {
    @include collapse(both);
    @include grid-column(12);
    &>label{
      display:none;
    }

    & .views-widget > .form-item {
      @include grid-column(6);
      &.form-item-avail-filter-rcav-begin{
        @include collapse(left);
      }
      &.form-item-avail-filter-rcav-end{
        @include collapse(right);
      }
      @media #{$tiny}{
        @include grid-column(12);
        @include collapse(both);
      }
      &.form-item-avail-filter-rcav-adult, &.form-item-avail-filter-rcav-child{
        display:none;
      }
    }
  }

  .views-exposed-widget {
    @include grid-column(6);
    @media #{$small-down} {
      @include clearfix();
      display: block;
      top: 0;
      @include grid-column(6);
      @include collapse(right);

      label {
        position: relative !important;
        top:0;
      }
    }
    @media #{$tiny}{
      @include grid-column(6);
    }
  }

  .views-submit-button {
    @include collapse(both);
    @include grid-column(12);
    margin-top: $label-size;
    //float: right !important;
  }

  .form-item,
  .views-submit-button {
    @media #{$small-down} {
      @include grid-column(12);
    }
    
  }
  #edit-beds-numeric-wrapper{
    @include collapse(left);
     @media #{$small-down}{
        .form-item{
          @include collapse(left);
        }
      }
  }
  #edit-baths-numeric-wrapper{
    @include collapse(right);
     @media #{$small-down}{
        .form-item{
          @include collapse(both);
        }
      }
  }
}
.search-results-page.map-results-page{
  .view-display-id-page_map{
    clear:both;
  }
}
