//=============================================
//    VACATION RENTAL LISTINGS 
//    Style and Variables
//    See theme/_globals.scss for global search variables.
//=============================================

//$grid-view-active:false;

//What color do you want your search summary text to be?
//$search-summary-color:$primary-color;

// Color theme for Urgency Marketing
//$urgency-message-bg:$success-color; // background color
//$urgency-message-color:$white; // text color
//$urgency-message-border:solid 1px darken($urgency-message-bg, 5%); // border color

//=============================================
//
//  Rental Listing styles.
//  These styles are used only if body has .search-results-page.
//-----------------------------------------------------------------//
body.search-results-page {
  #page-title {
    text-align:center;

    .addthis_toolbox {
      text-align:center;
      padding:5px;
      line-height:1.0;

      a {
        @include vrweb-button($primary-color);
        float:none;

        * {
          line-height:1.0;
        }
      }
    }

    @media only screen and (min-width:emCalc(850)){
      text-align:left;

      .addthis_toolbox {
        padding:0;
        float:right;
        display:inline-block;
        width:auto;

        a {
          @include vrweb-button($primary-color, $border-style:true);
        }
      }
    }
  }

  .view-vacation-rental-listings {

    //
    // View Header.
    // -----------------------------------------//
    .view-header {
      @include clearfix;
      margin-bottom: 15px;

      //
      // Common.
      // -----------------------------------------//
      .search-summary {
        margin-bottom: 15px;
        color:$search-summary-color;
        font-weight:700;
        text-align:center;

        @media only screen and (min-width:emCalc(850)) {
          text-align:left;
        }

        @media #{$small} {
          border-top:solid 1px $muted-color-alt;
          padding-top:15px;
          margin-top:10px;
        }
      }

      .rc-core-urgency.messages {
        background:$urgency-message-bg;
        border:$urgency-message-border;
        padding:8px;
        border-radius:$global-radius;

        * {
          color:$urgency-message-color;
        }
        a {
          text-decoration:underline;

          &:hover, &:active {
            text-decoration:none;
          }
        }
        p:last-child {
          margin-bottom:0;
        }
      }

      //
      // Switch view buttons.
      // -----------------------------------------//
      .active-state-toggle,
      .toggle-style-link {
        text-transform: uppercase;
        font-family: $head-gf;
        font-size: 12px;
        letter-spacing: .03em;
        text-align: center;
        margin: 0 0 15px;
        display: inline-block;
        padding: 8px 2px 0;
        height: $form-component-height;
        float: right;
        background-image: linear-gradient($white, $muted-color);
        box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
        border: $form-component-border;
        color:$black;
        text-decoration:none !important;
        

        &:before {
          content: '';
          display: inline-block;
          width: 14px;
          height: 14px;
          line-height: 14px;
          vertical-align: text-top;
          background-image: url("../images/icon-sprite.png");
          background-repeat: no-repeat;
          margin-right: 2px;

          @media #{$small} {
            margin-right: 5px;
          }
        }
        @if $grid-view-active == false { //false by default
          width:50%;

          @media only screen and (min-width:emCalc(820)){
            width: auto;
            font-size: 14px;
            padding: 8px 8px 0;
            margin-bottom:0px;
            margin-top:22px;
          }
        }
        @if $grid-view-active == true {
          width: 33.33%;

          @media only screen and (min-width:emCalc(850)){
            width: auto;
            font-size: 14px;
            padding: 8px 8px 0;
            margin-bottom:0px;
            margin-top:22px;
          }
        }

        &.page_teasers {
          border-top-left-radius: $global-radius;
          border-bottom-left-radius: $global-radius;

          &:before {
            background-position: -360px -48px;
          }
        }

        &.page_grid {
          border-width: 1px 0;

          &:before {
            background-position: -216px 0;
          }
        }

        &.page_map_results {
          border-top-right-radius: $global-radius;
          border-bottom-right-radius: $global-radius;

          &:before {
            background-position: -24px -72px;
          }
        }
      }

      .active-state-toggle {
        background-color: $muted-color;
        background-image: none;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      }

      .toggle-style-link {
        &:hover, &:active, &:focus {
          background: rgb(230, 230, 230);
        }
      }

      .views-widget-per-page {
        //clear:both;
      }

      .form-item-sort-by,
      .views-widget-per-page,
      .form-item-sort-bef-combine {
        position: relative;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        width: 125px;

        &.form-item-sort-by {
          padding-right: 0px;
          padding-left: 7px;
        }
        &.views-widget-per-page {
          padding-left: 0px;
          padding-right: 7px;
        }
      }
      .form-item-sort-bef-combine {
        padding-left: 0px;
        padding-right: 7px;
      }
    }

    //
    // View Content.
    // -----------------------------------------//
    .view-content {
      clear: both;

      .gmap-map {
        margin-bottom: 15px;
      }

      article.row {
        .views-row-last & {
          margin-bottom: 0;
        }
      }
    }

    //
    // Grid View Styles.
    // -----------------------------------------//
    &.view-display-id-page_grid {
      .view-content {
        @include grid-row(nest);

        .views-row {

          @include grid-column(12);

          @media #{$small} {
            @include grid-column(6);
          }

          @media #{$medium} {
            @include grid-column(4);
          }
        }
      }
    }

    //
    // Map View Styles.
    // -----------------------------------------//
    &.view-display-id-page_map_results {
      .active-state-toggle,
      .toggle-style-link {
        margin-top:0px;
      }
    }
  }
}

/**
 * View Mode: Teaser
 */
.node-vr-listing.view-mode-teaser {
  @include grid-column(12);
  padding:20px 0px;
  border-bottom:solid 1px $muted-color;

  .group-left {
    @include grid-column(12);
    @include min(both);

    @media #{$tiny} {
      @include grid-column(5);
      @include min(left);
    }
  }

  .group-right {
    @include grid-column(12);
    @include min(both);

    @media #{$tiny} {
      @include grid-column(7);
      @include min(both);
    }
  }

  .rc-core-item-name {
    @include grid-column(12);
    padding-left:10px;
    padding-right:10px;
    @include teaser-titles($alt-color:true);
  }

  .rc-core-cat {
    font-weight:700;
    @include grid-column(12);
    padding-left:10px;
    padding-right:10px;
  }

  .rc-lodging-detail {
    font-weight: 700;
    display:inline-block;
    width:auto;
    padding-left:10px;
    padding-right:10px;
    float:left;
    line-height:1.0;
    margin-top:5px;
  }

  .rc-lodging-detail + .rc-lodging-detail {
    border-left:solid 1px;
  }

  .vrweb-collection-link {
    top:-8px;
    right:-10px;
    z-index:+1;

    @media #{$tiny} {
      right:auto;
      left:-10px;
      top:-9px
    }
  }

  .rc-core-images {
    @include absolute-images(70%);
  }

  .field-name-body,
  .field-name-field-vr-description-override,
  .rc-core-item-description{
    @include grid-column(12);
    padding:10px;

    p {
      margin-bottom:0px;
    }
  }
  .rc-item-pricing {
    display: inline-block;
    width: auto;
    float: left;
    clear: both;
    margin-bottom: 0px;
    padding-left:10px;

    .rc-item-price {
      margin-bottom: 0px;
    }
    span.rc-price {
      display: block;
      padding-top: 5px;
      color: $pricing-color;
      font-weight: 400;
      font-size:18px;

      @media #{$tiny} {
        font-size: 21px;
      }
    }
    .rc-item-price-buy {
      @include clearfix;
      margin-bottom: 0px;

      > div {
        @include clearfix;
      }

      button {
        @include vrweb-button($color: $tertiary-color);
        margin-bottom: 0px;
      }
    }
  }
  .field-name-node-link {
    clear:both;
    padding-left:10px;
    padding-right:10px;

    a {
      @include vrweb-button($display:block);

      @media #{$tiny} {
        display:inline-block;
      }
    }
  }
  .rc-item-pricing + .field-name-node-link {
    position: absolute;
    bottom: 0px;
    right: 0px;

    a {
      display: inline;
      min-height: 0px;
      height: auto;
      background: none;
      color: $pricing-color;
      text-decoration: underline;
      padding: 0px;
      letter-spacing:.03em;
      box-shadow:none !important;

      &:hover, &:active {
        color: $success-color;
        background: none;
        text-decoration: none;
      }
    }
  }
  @media #{$tiny} {
    .rc-core-item-name,
    .rc-core-cat,
    .field-name-body,
    .field-name-field-vr-description-override,
    .rc-core-item-description,
    .rc-lodging-detail,
    .rc-item-pricing,
    .field-name-node-link{
      @include min(both);
    }

    .rc-lodging-detail +.rc-lodging-detail {
      padding-left:7px;
      margin-left:7px;
    }
  }
}

//========================================
//  View Mode: Full
//  Unit Details Page
//========================================
.node-vr-listing.view-mode-full,
.unit-details-page {
  #page-title {
    text-align:center;

    @media #{$small} {
      text-align:left;
    }
  }
  .group-beds-baths-wrapper {
    @extend %no-label;
    text-align:center;
    
    &, * {
      line-height:1.0;
    }

    .rc-lodging-detail {
      font-size:20px;
      display:inline-block;
      width:auto;
    }
    .rc-lodging-detail + .rc-lodging-detail {
      padding-left:5px;
      border-left:solid 1px $h1-font-color;
    }

    @media #{$small} {
      float:right;
      display:inline-block;
      font-size:100%;

      .rc-lodging-detail {
        font-size:36px;
        line-height:1.45;
      }

      .rc-lodging-detail + .rc-lodging-detail {
        border-left:none;
        margin-left:0px;
        padding-left:0px;

        &:before {
          content:'/';
        }
      }
    }
  }
}

.node-vr-listing.view-mode-full {
  .group-left {
    @include min(both);

    @media #{$small} {
      padding-right:20px;
      border-top:solid 1px $muted-color-alt;
    }
  }
  .group-right {
    @media #{$small-down} {
      @include content-box(15px);
      background:$muted-color;
    }

    @media #{$small} {
      border-top:solid 1px $muted-color-alt;
      @include min(both);
    }
  }
  .group-footer {
    clear:both;

    @media #{$small} {
      padding-top:25px;
    }
  }
  .group-action-links {
    @extend %no-label;
    padding-top:0px;

    .field-group-format-wrapper {
      padding-top:5px;
      @include clearfix();
      @include content-box(15px);
      border-bottom:solid 1px $tertiary-color;
    }
    
    @media only screen and (min-width:emCalc(550)) {
      padding-top:10px;

      .field-group-format-wrapper {
        padding-top:0px;
        border-top:solid 1px $tertiary-color;
      }
    }
    @media #{$small} {
      padding-top:0px;

      .field-group-format-wrapper {
        box-sizing:border-box;
        margin:auto;
        background:$muted-color;
        border:solid 1px $muted-color-alt;
        border-top:none;
      }
    }

    a {
      display:inline-block;
      text-align:center;
    }
    
    .print-page {
      display:none;
    }
    .vrweb-collection-link {
      width:100%;
      position:relative;
      height:auto;
      border-radius:0px;
      box-shadow:none;
      text-indent:0px;
      overflow:visible;
      padding:10px;
      background:$tertiary-color;
      @include content-box(15px);
      color:$white;
      text-decoration:none !important;
      letter-spacing:.05em;

      &:hover, 
      &:active {
        background-color:$primary-color;
      }

      .fi-heart,
      .fi-x {
        border-radius:0px;
        box-shadow:none;
        display:inline-block;
        width:20px;
        height:20px;
        background-size:20px;
        background-position:center;
        margin-bottom:-3px;

        &:before {
          display:none;
        }
      }
      @media only screen and (min-width:emCalc(550)) {
        width:50%;
        height:26px;
        padding-right:0;
        padding-left:15px;
        padding-top:10px;
        padding-bottom:4px;
      }
    }
    .vrweb-inquiry-link {
      width:50%;
      padding:10px 0px 4px;

      @media only screen and (min-width:emCalc(550)) {
        width:25%;
        float:right;
        height:26px;
        box-sizing:content-box;
        padding-right:15px;
        margin-right: -15px;
      }
    }
    .addthis_toolbox {
      display:inline-block;
      width:50%;
      border-left:solid 1px $tertiary-color;

      .fi-mail {
        //display:block;
      }
      a{
        width:100%;
        text-align:center;
        padding:10px 0px 4px;
      }
      @media only screen and (min-width:emCalc(550)) {
        width:25%;
        float:left;
        float:right;
        height:40px;
        border-left:none;
        border-right:solid 1px $tertiary-color;
      }
    }

    @media #{$small} {
      .print-page,
      .vrweb-inquiry-link,
      .vrweb-collection-link,
      .addthis_toolbox {
        height:auto;
        width:auto;
        display:inline-block;
        float:none;
        margin:auto;
        border:none;
        box-sizing:border-box;
        background:none;

        &:hover, &:active {
          background:none;
          text-decoration:underline !important;
        }

        &, a {
          color:$primary-color;
        }
      }
      .print-page,
      .vrweb-inquiry-link,
      .vrweb-collection-link {
        padding:5px 8px;
      }

      .addthis_toolbox {
        a {
          color:$primary-color;
          padding:5px 8px;
          margin:auto;
        }
      }
    }
  }
  
  #Media {
    margin-bottom:0px;
    padding-top: 5px;

    @media #{$small-down} {
      @include content-box(15px);
      background:$muted-color;
      padding-bottom:8px;
    }

    @media #{$small} {
      border:solid 1px $muted-color-alt;
      border-top:none;
    }
  }
  // Slideshow.
  .rc-core-item-api-images-royalslider,
  .field-name-field-gallery-images {
    margin-bottom:0px;

    @media #{$small}{
      margin-bottom: 4px;
    }
  }

  .group-vr-full-featured-amenities {

    @media #{$small-down} {
      @include content-box(15px);
      background:$white;
    }

    h3 {
      //@extend h4;
      color: $primary-color;
      margin-top: 0;
      text-transform: none;
      font-weight: 700;
      font-size: 19px;
      margin-bottom:0px;
      padding-bottom:20px;
      padding-top:20px;
    }

    .view-content {
      ul {
        @extend .no-bullet;

        li {
          a {
            color: $body-font-color;
          }
        }
      }
    }
  }

  // Amenities tab.
  .group-vr-full-amenities {

    // Title.
    h3 {

    }

    // Singular Category amenities.
    .rc-core-cat-ldrc_amenity {

      ul {
        list-style:none;
        margin-left:0px;

        li {
          list-style:none;
          font-weight:700;
          line-height:$document-line-height;
          padding-bottom:3px;

          em {
            font-style:normal;
            font-weight:400;

            &:before {
              content:': ';
              font-weight:700;
            }
          }
          @media #{$small} {
            @include grid-column(6);
            @include min(left);
          }
          @media #{$medium} {
            @include grid-column(4);
            @include grid-clear(3);
          }
        }
      }


    }

    // Float Escapia style amenities.
    div[class*="evrn"] {
      @include grid-column(4);
      @media #{$small-down} {
        @include grid-column(6);
      }
    }
  }

  // Rates tab.
  .group-vr-full-rates {

    table {

      &.rc-item-prices {
        @include grid-column(12);

        .rc-price-col {
          text-align: left;
        }
      }
    }
  }

  // Nearby Activities & Map.
  .group-vr-full-map {

    h3 {
      color: $primary-color;
      margin-top: 0;
      text-transform: none;
      font-weight: 700;
      font-size: 19px;
    }

    .view-nearby-activities {

      table {
        width: 100%;
        border: none;
        border-bottom-right-radius: $global-radius;
        border-bottom-left-radius: $global-radius;

        &, thead {
          background: lighten($muted-color, 6%);
        }

        thead a {
          //color: $vr-full-map-table-header-color;
        }

        tbody a {
          //color: $vr-full-map-table-content-color;
        }
      }
    }
  }

  // Availability form.
  .rc-avail-ajax-wrapper {
    margin:auto;
    @include clearfix();
    padding-bottom:15px;

    &:before {
      content:'Search Availability';
      display:block;
      width:100%;
      text-align:center;
      padding-top:15px;
      text-transform:uppercase;
      color:$secondary-color;
      letter-spacing:.05em;
      

      @media #{$small-down} {
        @include box-shadow;
        @include content-box(15px);
        padding-top:10px;
        padding-bottom:8px;
        background:$white;
      }
    }

    @media #{$small}{
      @include grid-column(12);
      @include collapse(both);
    }

    .rc-avail-ajax {
      clear:both;
      @include clearfix();
    }
    .rc-core-item-avail-form {
      margin:auto;
      float:none;

      .form-item {
        @include grid-column(6);
        margin-bottom: 10px;

        &.form-item-rcav-begin, &.form-item-rcav-adult {
          padding-left: 0px;
          padding-right: 7px;
        }
        &.form-item-rcav-end, &.form-item-rcav-child {
          padding-right: 0px;
          padding-left: 7px;
        }
        &.form-item-rcav-begin,
        &.form-item-rcav-end {
          @media #{$tiny-down}{
            @include grid-column(12);
            @include collapse(both);
          }
        }
        label {
          text-align: left;
        }
      }

      #edit-rcav-submit {
        @include vrweb-button($color: $primary-color);
        width: 100%;
        margin-bottom: 0px;
      }
    }

    .rc-item-pricing {
      margin-bottom: emCalc(15);
      float: right !important;
      text-align: center !important;
      @include clearfix();
      width: 100%;
      padding-top: 10px;

      .rc-item-price {
        color:$pricing-color;

        .rc-price {
          display: block;
          font-size: 30px;
        }
      }
      .rc-item-price-buy {
        display:block;
        margin:auto;
        position: relative;
        padding-left: 0px;

        #edit-submit {
          @include vrweb-button($color: $tertiary-color);
          padding-left: 5px;
          padding-right: 5px;
          width: 100%;
          max-width:250px;
          line-height: inherit;
          margin-bottom: 0;
        }
      }
    }

    .rc-item-quote-link {
      display:block;
      color:$pricing-color;
      padding-left: 5px;
      padding-right: 5px;
      text-decoration:underline;
      padding-top:8px;

      &:hover, &:active {
        text-decoration:none;
      }
    }
  }

  // driving directions button

  .vrweb-driving-directions {
    @include vrweb-button($color: $secondary-color, $display:block);
    max-width:200px;
    margin:0px auto 15px auto;
    padding-top:8px !important;

    @media #{$small-down}{
      margin-bottom: 5px;
    }
  }

  //  removing map and proxy stufff from mobile
  #node_vr_listing_full_group_vr_nearby_activities {
    @media #{$medium-down}{
      display: none;
    }
  }

}

// Content bottom background (for Recently Viewed properties).
body.node-type-vr-listing {

  .l-content-bottom {
    @include vrweb-featured-bg();

    @media #{$tiny-down} {
      display: none !important;
    }
  }
}

.ui-dialog {
  .ui-widget-header {
    padding-bottom: 15px;
    border: none;
    border-bottom: 1px solid $muted-color;
    background: lighten($muted-color, 20%);
    color: darken($primary-color, 5%);
    font-weight: normal;
    border-radius: 0px;

    .ui-dialog-title {
      font-family: $header-font-family;
      font-size: $paragraph-font-size;
    }
  }

  .rc-item-quote {
    font-size: emCalc(13);
  }

  button {
    @include vrweb-button($color: $tertiary-color);
    width: 100%;
    margin-bottom: 0px;
  }
  .ui-dialog-titlebar-close {
    top: 0px;
    right: 0px;
    margin: 0;
  }
  .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .25em .25em;
    background: none;
    overflow: auto;
    zoom: 1;

    table {
      border: none;

      tr,
      td,
      th {
        font-family: $body-gf;
        line-height: 1.4;
      }

      tr.even td,
      tr.even th {
        background: lighten($muted-color, 5%);
      }
    }
  }

}

// Inquiry Form

// Gmap search tab
.section-vacation-rentals {
  .view-display-id-attachment_map {
    .view-mode-gmap_popup {
      .rc-item-pricing {
        .rc-item-quote-link, .rcav-dates, .rc-price {
          display: none;
        }
      }
    }
  }
}

// Share quote
.rc-item-price, .rc-item-quote {
  form div.addthis_toolbox {
    display: block;
    font-size: smaller;
    padding: .3em;
  }

}