.latest-lines-post {
	padding-top:100px;

	.body-content {
		width:100%;
		text-align:left;
		margin-bottom:15px;
		
		@media #{$small} {
		display:inline-block;
		width:49%;
	
		
	}

		&, * {
			font-size:16px;
			line-height:1.4;
		}
	}
	
	.lines-title {
		text-align:center;

		h1 {
			margin-bottom:2px;
		}
	}
	.lines-content {
		text-align:center;
	}
	.lines-subtitle {
		text-align:center;
		padding-bottom:15px;

		span {
			font-size:16px;
			line-height:1.0;
			font-family:$head-gf;

			&.author {
				font-weight:400;
				text-transform:uppercase;
				color:#000;
				letter-spacing:.03em;
			}

			&.date {
				font-weight:400;
				text-transform:uppercase;
				letter-spacing:.03em;
				padding-left:8px;
				margin-left:8px;
				border-left:solid 1px #000;
			}
		}
	}
	.photo {
		@include absolute-images(40%);
	}
	.video {
		@media #{$small} {
			display:inline-block;
			width:49%;
			float:left;
			padding-right:15px;
			margin-bottom:15px;
		}
	}
	.quote {
		h3 {
			font-family:$head-gf;
			color:#000;
			text-align:center;
			border-bottom:solid 1px #000;
			padding-bottom:10px;
			text-transform:uppercase;
		}
		@media #{$small} {
			//@include grid(5);
			text-align:left;
			margin-bottom:15px;
			display:inline-block;
			width:49%;

			span {
				display:block;
				&.quote-text {
					font-family:$head-gf;
					font-size:18px;
				}
				&.quote-author {
					text-align:right;
					font-size:16px;
					border-bottom:solid 1px #ccc;
					padding-bottom:10px;
					
					&:before{
						content:'\2014';
					}
				}
			}
		}
	}
	.photo-wrapper {
		width:100%;
		position:relative;
	}
	.profile-img{
		position:absolute;
		bottom:20px;
		left:20px;
		border:solid 2px $black;
		box-shadow:0px 2px 4px rgba($black, .5);
	}
	.name-block {
		position:absolute;
		bottom:20px;
		right:20px;
		background:$black;
		padding:10px;
		box-shadow:0px 2px 4px rgba($black, .5);

		* {
			color:$white;
			font-size:24px;
		}

		span {
			display:block;
			text-align:center;
		}

		.author {
			text-transform:uppercase;
		}
	}
	.profile {
		background:$black;
		margin-bottom:15px;

		#bio-toggle {
			color:$white;
		}
	}
	.social {
		float:right;

		a {
			display:block;
			color:$white;
		}
	}
	#bio{
		background:$white;
		max-height:0;
		overflow:hidden;
		display:block;
		transition: max-height .25s ease-out;
		font-size:17px;
		height:auto;

		> div {
			padding:20px;
		}
		&.show-bio {
			max-height:1000px;
			height:auto;
		}
	}
}