/// Default Font Stacks ///

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia: Georgia, "Times New Roman", "DejaVu Serif", serif;
$verdana: Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma: Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
$arial: Arial, Helvetica, "Nimbus Sans L", sans-serif;
$lucida: 'Lucida Grande', Arial, sans-serif;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$consolas: "Consolas", "Bitstream Vera Sans Mono", "Courier New", "DejaVu Sans Mono", Courier, monospace, sans-serif;

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-black-webfont.eot');
    src: url('../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-black-webfont.woff') format('woff'),
         url('../fonts/lato/lato-black-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-bold-webfont.eot');
    src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-bolditalic-webfont.eot');
    src: url('../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-bolditalic-webfont.woff') format('woff'),
         url('../fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-blackitalic-webfont.eot');
    src: url('../fonts/lato/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-blackitalic-webfont.woff') format('woff'),
         url('../fonts/lato/lato-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-blackitalic-webfont.svg#latoblack_italic') format('svg');
    font-weight: 900;
    font-style: italic;
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 24, 2015 */
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-italic-webfont.eot');
    src: url('../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-italic-webfont.woff') format('woff'),
         url('../fonts/lato/lato-italic-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-regular-webfont.eot');
    src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-light-webfont.eot');
    src: url('../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-lightitalic-webfont.eot');
    src: url('../fonts/lato/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-lightitalic-webfont.woff') format('woff'),
         url('../fonts/lato/lato-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

// Global google font setup.
// See line 23 of template.tpl.php to set Google font
$head-gf: 'lato', sans-serif;
$body-gf: 'lato', sans-serif;