@mixin row($padding:false) {
  width:100%;
  margin:auto;
  clear:both;
  max-width:$row-width;
  @include clearfix();

  @if $padding == true {
    padding-left:15px;
    padding-right:15px;
    position:relative;
  }
}
@mixin grid($num) {
  float:left;
  $width:12/$num;
  $percent:100/$width;
  $padding:$column-gutter/2;

  width:#{$percent}%;
  position:relative;
  padding-left:#{$padding}px;
  padding-right:#{$padding}px;
}
//============================
// Breakpoints
//============================
.row {
  @include row();

  * {
    box-sizing:border-box !important;
  }
  &.wider {
    max-width:1280px;
  }
}

  .grid-1 {
    @include grid(1);
  }
  .grid-2 {
    @include grid(2);
  }
  .grid-3 {
    @include grid(3);
  }
  .grid-4 {
    @include grid(4);
  }
  .grid-5 {
    @include grid(5);
  }
  .grid-6 {
    @include grid(6);
  }
  .grid-7 {
    @include grid(7);
  }
  .grid-8 {
    @include grid(8);
  }
  .grid-9 {
    @include grid(9);
  }
  .grid-10 {
    @include grid(10);
  }
  .grid-11 {
    @include grid(11);
  }
  .grid-12 {
    @include grid(12);
  }
  @media #{$tiny} {
    .tiny-grid-1 {
    @include grid(1);
    }
    .tiny-grid-2 {
      @include grid(2);
    }
    .tiny-grid-3 {
      @include grid(3);
    }
    .tiny-grid-4 {
      @include grid(4);
    }
    .tiny-grid-5 {
      @include grid(5);
    }
    .tiny-grid-6 {
      @include grid(6);
    }
    .tiny-grid-7 {
      @include grid(7);
    }
    .tiny-grid-8 {
      @include grid(8);
    }
    .tiny-grid-9 {
      @include grid(9);
    }
    .tiny-grid-10 {
      @include grid(10);
    }
    .tiny-grid-11 {
      @include grid(11);
    }
    .tiny-grid-12 {
      @include grid(12);
    }
  }
  @media #{$small} {
    .small-grid-1 {
    @include grid(1);
    }
    .small-grid-2 {
      @include grid(2);
    }
    .small-grid-3 {
      @include grid(3);
    }
    .small-grid-4 {
      @include grid(4);
    }
    .small-grid-5 {
      @include grid(5);
    }
    .small-grid-6 {
      @include grid(6);
    }
    .small-grid-7 {
      @include grid(7);
    }
    .small-grid-8 {
      @include grid(8);
    }
    .small-grid-9 {
      @include grid(9);
    }
    .small-grid-10 {
      @include grid(10);
    }
    .small-grid-11 {
      @include grid(11);
    }
    .small-grid-12 {
      @include grid(12);
    }
  }
  @media #{$medium} {
    .medium-grid-1 {
    @include grid(1);
    }
    .medium-grid-2 {
      @include grid(2);
    }
    .medium-grid-3 {
      @include grid(3);
    }
    .medium-grid-4 {
      @include grid(4);
    }
    .medium-grid-5 {
      @include grid(5);
    }
    .medium-grid-6 {
      @include grid(6);
    }
    .medium-grid-7 {
      @include grid(7);
    }
    .medium-grid-8 {
      @include grid(8);
    }
    .medium-grid-9 {
      @include grid(9);
    }
    .medium-grid-10 {
      @include grid(10);
    }
    .medium-grid-11 {
      @include grid(11);
    }
    .medium-grid-12 {
      @include grid(12);
    }
  }
  @media #{$large} {
    .large-grid-1 {
    @include grid(1);
    }
    .large-grid-2 {
      @include grid(2);
    }
    .large-grid-3 {
      @include grid(3);
    }
    .large-grid-4 {
      @include grid(4);
    }
    .large-grid-5 {
      @include grid(5);
    }
    .large-grid-6 {
      @include grid(6);
    }
    .large-grid-7 {
      @include grid(7);
    }
    .large-grid-8 {
      @include grid(8);
    }
    .large-grid-9 {
      @include grid(9);
    }
    .large-grid-10 {
      @include grid(10);
    }
    .large-grid-11 {
      @include grid(11);
    }
    .large-grid-12 {
      @include grid(12);
    }
  }

.wrapper {
  clear:both;
}